<!DOCTYPE html>
<!-- Template by html.am -->

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Server - Commands</title>
		
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'allStyle.css' %}"

	</head>
	
	<body>		
				
		<main>
			<div class="innertube">
				
				<h1>Command page</h1>
                <table>
                    <tr><form name="freq_form" action="/monitor/commands/" method="get">
                        <input type = "hidden" name = "code" value = "m">
                        <td>Log frequency:</td>
                        <td><input type = "number" name="freq" min = "0" value = "{{ log_freq }}"></td>
                        <td>
                            <input type = "submit" value="Set">
                            <input type = "button" value="Force" onclick = "freq_form.code.value = 'f'; freq_form.submit();">
                        </td>
                    </form></tr><tr><form name="collection_form" action="/monitor/commands/" method="get">
                        <input type = "hidden" name = "code" value = "c">
                        <td>Collection status:</td>
                        <td>
                            {% if collection_status != "?" %}
                                <select name = "dir" value = "{{ collection_status }}">
                                    <option value="on">On</option>
                                    <option value="off">Off</option>
                                </select>
                            {% else %}?
                            {% endif %}
                        </td>
                        <td><input type = "submit" value="Set"></td>
                    </form></tr><tr><form name="log_form" action="/monitor/commands/" method="get">
                        <input type = "hidden" name = "code" value = "l">
                        <td>Logging status:</td>
                        <td>
                            {% if logging_status != "?" %}
                                <select name = "dir" value = "{{ logging_status }}">
                                    <option value="on">On</option>
                                    <option value="off">Off</option>
                                </select>
                            {% else %}?
                            {% endif %}
                        </td>
                        <td><input type = "submit" value="Set"></td>
                    </form></tr><tr>
                        <td>Ambient temp:</td>
                        <td>{{ varlist.temp_amb.0 }}</td>
                        {% if varlist.temp_amb.1 == 'Set alert' %}
                            <td><input type = "button" value="Set alert" onclick = "return setAlert('temp_amb');"></td>
                        {% elif varlist.temp_amb.1 == '?' %}
                            <td>?</td>
                        {% else %}
                            <td>
                                <input type = "button" value="{{ varlist.temp_amb.1 }}" onclick = "return setAlert('temp_amb');">
                                <input type = "button" value="off" onclick = "return setAlert('off');">
                            </td>
                        {% endif %}    
                    </tr><tr>
                        <td>Beer temp:</td>
                        <td>{{ varlist.temp_beer.0 }}</td>
                        {% if varlist.temp_beer.1 == 'Set alert' %}
                            <td><input type = "button" value="Set alert" onclick = "return setAlert('temp_beer');"></td>
                        {% elif varlist.temp_beer.1 == '?' %}
                            <td>?</td>
                        {% else %}
                            <td>
                                <input type = "button" value="{{ varlist.temp_beer.1 }}" onclick = "return setAlert('temp_beer');">
                                <input type = "button" value="off" onclick = "return setAlert('off');">
                            </td>
                        {% endif %}    
                    </tr>
                </table>
                <script type = "text/javascript">
                    function setAlert(var_name) {
                        alert_form.var.value = var_name;
                        if(var_name != 'off') {
                            alert_form.min.value = parseFloat(prompt('Min value:'));
                            alert_form.max.value = parseFloat(prompt('Max value:'));
                        }
                        alert_form.submit();
                    }
                </script>
                <div style="display:none">
                    <form name="alert_form" id = "alert_form" action="/monitor/commands/" method="get">
                        <input type="hidden" name="code" value="a">
                        <input type="text" name="var">
                        <input type="number" name="min">
                        <input type="number" name="max">
                    </form>
                </div>
                <h2>{{error}}</h2>
                <h3>{{details}}</h3>
                
			</div>
		</main>
	
		<nav id="nav">
			<div class="innertube">
			
			<h3>Beers</h3>
			<ul>
				<li><a href="/monitor/chart/">Active Beer</a></li>
                {% for beer in all_beers %}
                {% if beer == active_beer %}
                    <b><li><a href="/monitor/chart/{{ beer.id }}/">{{ beer }}</a></li></b>                
                {% else %}
                    <li><a href="/monitor/chart/{{ beer.id }}/">{{ beer }}</a></li>
                {% endif %}
                {% endfor %}
			</ul>
			<h3>Options</h3>
			<ul>
                <li><a href="/monitor/dashboard/">Dashboard</a></li>
				<li><a href="/monitor/commands/">Commands</a></li>
				<li><a href="/admin/">Admin</a></li>
			</ul>
			</div>
		</nav>
	
	</body>
</html>