<!DOCTYPE html>
<!-- Template by html.am -->

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Server - Commands</title>
		
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'allStyle.css' %}"

	</head>
	
	<body>		
				
		<main>
			<div class="innertube">
				
				<h1>Server Commands</h1>
                {% for command,description in command_options %}
                    <form action="/monitor/commands/{{command}}/" method="get">
                        <input type="submit" value="{{description}}">
                    </form>
                {% endfor %}
                <script type="text/javascript">
                    function alert_change() {
   
                        var cur_form = document.alert_form;
                        var var_name = cur_form.Var.value;
                        var min = cur_form.Min.value;
                        var max = cur_form.Max.value;
                        var command = "a=" + var_name + "[" + min + "," + max + "]/"
                        
                        cur_form.action = cur_form.action + command
                        console.log(cur_form.action);
                    };
                </script>
                <form name="alert_form" action="/monitor/commands/" method="get" onsubmit = "return alert_change();">
                    <label>Variable:<input type="text" name="Var"></label>
                    <label>Min:<input type="number" name="Min"></label>
                    <label>Max:<input type="number" name="Max"></label>
                    <input type="submit" value="Set alert">
                </form>
                <h2>{{error}}</h2>
                <h3>{{details}}</h3>
                
			</div>
		</main>
	
		<nav id="nav">
			<div class="innertube">
			
			<h3>Beers</h3>
			<ul>
				<li><a href="/monitor/chart/">Active Beer</a></li>
                {% for beer in all_beers %}
                {% if beer == active_beer %}
                    <b><li><a href="/monitor/chart/{{ beer.id }}/">{{ beer }}</a></li></b>                
                {% else %}
                    <li><a href="/monitor/chart/{{ beer.id }}/">{{ beer }}</a></li>
                {% endif %}
                {% endfor %}
			</ul>
			<h3>Options</h3>
			<ul>
                <li><a href="/monitor/dashboard/">Dashboard</a></li>
				<li><a href="/monitor/commands/">Commands</a></li>
				<li><a href="/admin/">Admin</a></li>
			</ul>
			</div>
		</nav>
	
	</body>
</html>