<!DOCTYPE html>
<!-- Template by html.am -->

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Unable to load {{page_name}}</title>
        
		{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'allStyle.css' %}">
	</head>
	
	<body>		
				
		<main>
        <div class="innertube">
            <h1>{{cur_beer}}</h1>
            <h4>Unable to load {{page_name}} -- no readings exist</h4>
        </div>
		</main>
	
		<nav id="nav">
			<div class="innertube">
			
			<h3>Beers</h3>
			<ul>
				<li><a href="/monitor/chart/">Active Beer</a></li>
                {% for beer in all_beers %}
                {% if beer == active_beer %}
                    <b><li><a href="/monitor/chart/{{ beer.id }}/">{{ beer }}</a></li></b>                
                {% else %}
                    <li><a href="/monitor/chart/{{ beer.id }}/">{{ beer }}</a></li>
                {% endif %}
                {% endfor %}
			</ul>
			<h3>Options</h3>
			<ul>
                <li><a href="/monitor/dashboard/">Dashboard</a></li>
				<li><a href="/monitor/commands/">Commands</a></li>
				<li><a href="/admin/">Admin</a></li>
			</ul>
			</div>
		</nav>
	
	</body>
</html>